{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo;
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo;
        {% if queryset.count == 1 %}
            <a href="{% url opts|admin_urlname:'change' queryset.first.id %}">{{ queryset.first }}</a>
            &rsaquo; {% trans 'History' %}
        {% else %}
            {{ title }}
        {% endif %}
    </div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <table class='{% block history-classes %}{% endblock history-classes %}' style="width:100%">
        {% block history-header %}
            <thead>
                <tr>
                    <th scope='col'>ID</th>
                    <th scope='col'>Date</th>
                    <th scope='col'>Type</th>
                    <th scope='col'>User</th>
                    <th scope='col'>Snapshot</th>
                    <th scope='col'>Changes</th>
                </tr>
            </thead>
        {% endblock history-header %}
        {% block history-body %}
            <tbody>
                {% for entry in history %}
                <tr>
                    <td><a href='{% url opts|admin_urlname:"change" entry.pk %}' target="_blank" rel="noopener noreferrer">{{ entry.pk }}</a></td>
                    <td>{{ entry.event_date }}</td>
                    <td>{{ entry.event_type }}</td>
                    <td>{{ entry.user_id }}</td>
                    <td>{{ entry.snapshot }}</td>
                    <td>{{ entry.changes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        {% endblock history-body %}
        {% block history-footer %}{% endblock history-footer %}
    </table>
{% endblock content %}
