{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'admin:app_list' app_label=model_class_meta.app_label %}">{{ model_class_meta.app_config.verbose_name }}</a>
        &rsaquo;
        <a href="{% url model_class_meta|admin_urlname:'changelist' %}">{{ model_class_meta.verbose_name_plural|capfirst }}</a>
        &rsaquo;
        {% if queryset.count == 1 %}
            <a href="{% url model_class_meta|admin_urlname:'change' queryset.first.id %}">{{ queryset.first }}</a>
            &rsaquo; {% trans 'History' %}
        {% else %}
            {{ title }}
        {% endif %}
    </div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <table class='{% block history-classes %}{% endblock history-classes %}' style="width:100%">
        {% block history-header %}
            <thead>
                <tr>
                    <th scope='col'>ID</th>
                    {% if not use_json %}
                        <th scope='col'>Field Name</th>
                    {% endif %}
                    <th scope='col'>Old Value</th> 
                    <th scope='col'>New Value</th>
                    <th scope='col'>Date Modified</th>
                    <th scope='col'>User ID</th>
                    <th scope='col'>Transaction Type</th>
                </tr>
            </thead>
        {% endblock history-header %}
        {% block history-body %}
            <tbody>
                {% for entry in history %}
                <tr>
                    <td><a href='{% url model_class_meta|admin_urlname:"change" entry.id %}' target="_blank" rel="noopener noreferrer">{{ entry.id }}</a></td>
                    {% if not use_json %}
                        <td>{{ entry.field_name }}</td>
                    {% endif %}
                    <td>{{ entry.old_value }}</td>
                    <td>{{ entry.new_value }}</td>
                    <td>{{ entry.date_modified }}</td>
                    <td>
                        {% if entry.user_id != default_user %}
                            <a href='{% url user_model_class_meta|admin_urlname:"change" entry.user_id %}' target="_blank" rel="noopener noreferrer">{{ entry.user_id }}</a>
                        {% else %}
                            {{ entry.user_id }}
                        {% endif %}
                    </td>
                    <td>{{ entry.transaction_type_formatted }}</td>
                </tr>
                {% endfor %}
            </tbody>
        {% endblock history-body %}
        {% block history-footer %}{% endblock history-footer %}
    </table>
{% endblock content %}
